// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.creado{
	background-color:#62ff0061;
	border-radius: 12px;
	padding: 0px 5px;
}

.product-image{
	max-width: 100%;
	padding: 10px;
}